.goods {
  display: flex;

  position: absolute;
  top: 190px;
  bottom: 51px;

  overflow: hidden;
  width: 100%;
}

.goods .menu-wrapper {
  flex: 0 0 85px;
  background-color: #f4f4f4;
}

.goods .menu-wrapper .menu-item {
  padding: 16px 23px 15px 10px;
  border-bottom: 1px solid #e4e4e4;
}

.goods .menu-wrapper .menu-item .text {
  font-size: 13px;
  color: #333;
  line-height: 17px;
  vertical-align: middle;

  /* 多行显示省略号 使用webkit的css拓展属性 适用范围是在webkit浏览器及移动端 */
  /* 用来显示一个块元素显示的文本行数 */
  -webkit-line-clamp: 2;
  /* 必须设置，将对象作为弹性伸缩盒子显示 */
  display: -webkit-box;
  /* 必须，设置或检索伸缩盒子的子元素排列方式 */
  -webkit-box-orient: vertical;

  overflow: hidden;
}

.goods .menu-wrapper .menu-item .text .icon {
  width: 15px;
  height: 15px;
}

.goods .foods-wrapper {
  flex: 1;
  background-color: blue;
}